openapi: 3.2.0
info:
  version: v1
  title: act.web.api Calendar API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: Calendar
paths:
  /api/calendar:
    get:
      tags:
      - Calendar
      summary: Get calendar schedule for the current user matching an (optional) OData query
      operationId: Calendar_Get_4342D274
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.Schedule'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.Schedule'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.Schedule'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/calendar/preferences:
    get:
      tags:
      - Calendar
      summary: Get user's calendar preferences
      operationId: Calendar_GetPreferences_AD38D5BE
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
    put:
      tags:
      - Calendar
      summary: Update the user's calendar preferences
      operationId: Calendar_PutPreference_DE71004C
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
        description: The calendar preferences definition.
        required: true
    post:
      tags:
      - Calendar
      summary: Create the user's calendar preferences
      operationId: Calendar_PostPreference_4E44150A
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Calendar.CalendarPreferences'
        description: The calendar preferences definition.
        required: true
components:
  schemas:
    act.web.api.models.Calendar.CalendarPreferences:
      description: ''
      type: object
      properties:
        firsDayOfWorkWeek:
          description: ''
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
        numberOfWorkWeekDays:
          format: int32
          description: ''
          type: integer
        startTime:
          format: date-time
          description: ''
          type: string
        endTme:
          format: date-time
          description: ''
          type: string
        dailyCalendarIncrement:
          format: int32
          description: ''
          type: integer
        workWeekCalendarIncrement:
          format: int32
          description: ''
          type: integer
        firsDayOfWeek:
          description: ''
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
        firstWeekOfYearMonth:
          format: int32
          description: ''
          type: integer
        firstWeekOfYearDay:
          format: int32
          description: ''
          type: integer
        calendarShowOn:
          description: ''
          type: string
        enablePopupsFor:
          description: ''
          type: string
        activityDurationBanner:
          format: int32
          description: ''
          type: integer
        displayEvents:
          description: ''
          type: boolean
    act.web.api.models.Calendar.ScheduledItems:
      description: ''
      type: object
      properties:
        id:
          description: ''
          type: string
        recordType:
          description: ''
          enum:
          - Activity
          - History
          type: string
        title:
          description: ''
          type: string
        duration:
          format: double
          description: ''
          type: number
        durationDisplay:
          description: ''
          type: string
        startTime:
          format: date-time
          description: ''
          type: string
        endTime:
          format: date-time
          description: ''
          type: string
        details:
          description: ''
          type: string
        isPrivate:
          description: ''
          type: boolean
    act.web.api.models.Calendar.Schedule:
      description: ''
      type: object
      properties:
        date:
          description: ''
          type: string
        total:
          format: int32
          description: ''
          type: integer
        totalActivities:
          format: int32
          description: ''
          type: integer
        totalHistories:
          format: int32
          description: ''
          type: integer
        items:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Calendar.ScheduledItems'
