openapi: 3.2.0
info:
  version: v1
  title: act.web.api Custom Entities API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: Custom Entities
paths:
  /api/custom/entities/{entityName}/{id}:
    get:
      tags:
      - Custom Entities
      summary: Get a specific custom entity
      operationId: CustomEntities_Get_E50407CC
      parameters:
      - name: entityName
        in: path
        description: The name of the custom entity.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier (id) for a given custom entity.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
    put:
      tags:
      - Custom Entities
      summary: Create a new custom entity
      operationId: CustomEntities_Put_E2EE1D22
      parameters:
      - name: entityName
        in: path
        description: The name of the custom entity.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier (id) for a given custom entity.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          application/xml:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          text/xml:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
        description: The company definition.
        required: true
    delete:
      tags:
      - Custom Entities
      summary: Delete an existing custom entity
      operationId: CustomEntities_Delete_B426AB4B
      parameters:
      - name: entityName
        in: path
        description: The name of the custom entity.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier (id) for a given custom entity.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/custom/entities/{entityName}:
    get:
      tags:
      - Custom Entities
      summary: Get all custom entity data matching an (optional) OData query
      operationId: CustomEntities_Get_534E3316
      parameters:
      - name: entityName
        in: path
        description: The name of the custom entity.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.CustomEntity'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
    post:
      tags:
      - Custom Entities
      summary: Create a new custom entity
      operationId: CustomEntities_Post_4BE499F1
      parameters:
      - name: entityName
        in: path
        description: The name of the custom entity.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.CustomEntity'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          application/xml:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          text/xml:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/System.Object'
        description: The company definition.
        required: true
components:
  schemas:
    act.web.api.models.Contacts.EmbeddedContact:
      description: ''
      type: object
      properties:
        id:
          description: ''
          type: string
        displayName:
          description: ''
          type: string
          readOnly: true
        company:
          description: 'AS-1763 - API: Expose Opportunity Company name for use in Companion, removed [JsonIgnore]'
          type: string
        isInvited:
          description: Invited contact flag
          type: boolean
    act.web.api.models.CustomEntity:
      description: Represents the base properties of a custom table.
      type: object
      properties:
        id:
          description: The unique identifier (id) for this custom entity.
          type: string
        companies:
          description: List of companies that are associated to this custom entity.
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Companies.EmbeddedCompany'
        contacts:
          description: List of contacts that are associated to this custom entity.
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Contacts.EmbeddedContact'
        groups:
          description: List of groups that are associated to this custom entity.
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Groups.EmbeddedGroup'
        opportunity:
          description: List of opportunity that are associated to this custom entity.
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Opportunities.EmbeddedOpportunity'
        created:
          format: date-time
          description: The date that this record was created.
          type: string
        edited:
          format: date-time
          description: The date that this record was edited.
          type: string
        editedBy:
          description: The user's name that last editied this record.
          type: string
        recordOwner:
          description: The user's name that owners this record.
          type: string
    act.web.api.models.Groups.EmbeddedGroup:
      description: An group entity that displayed as a sub-child to a parent entity.
      type: object
      properties:
        id:
          description: Gets a unique identifier (id) for a given group.
          type: string
        name:
          description: Gets the name of the group.
          type: string
    act.web.api.models.Opportunities.EmbeddedOpportunity:
      description: An opportunity entity that displayed as a sub-child to a parent entity.
      type: object
      properties:
        id:
          description: Gets a unique identifier (id) for a given opportunity.
          type: string
        name:
          description: Gets the name of the opportunity.
          type: string
    System.Object:
      type: object
      properties: {}
    act.web.api.models.Companies.EmbeddedCompany:
      description: A company entity that displayed as a sub-child to a parent entity.
      type: object
      properties:
        id:
          description: Gets a unique identifier (id) for a given company.
          type: string
        name:
          description: Gets the name of the company.
          type: string
