openapi: 3.2.0
info:
  version: v1
  title: act.web.api Sync Data API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: Sync Data
paths:
  /api/sync-data/search-contacts-by-business-email:
    post:
      tags:
      - Sync Data
      summary: Get contacts identifiers by business emails
      operationId: SyncData_PostSearchContactsByBusinessEmail_094FD90D
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
            application/xml:
              schema:
                type: object
                additionalProperties:
                  type: string
            text/xml:
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          application/xml:
            schema:
              type: array
              items:
                type: string
          text/xml:
            schema:
              type: array
              items:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: string
        description: Array of business emails.
        required: true
  /api/sync-data/search-synced-external-ids:
    post:
      tags:
      - Sync Data
      summary: Find existed identifiers
      operationId: SyncData_PostSearchSyncedExternalId_8F2C702D
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          application/xml:
            schema:
              type: array
              items:
                type: string
          text/xml:
            schema:
              type: array
              items:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: string
        description: Array of external ids.
        required: true
  /api/sync-data/search-synced-calendar-uids:
    post:
      tags:
      - Sync Data
      summary: Find existed calendar identifiers with related external ids
      operationId: SyncData_PostSearchSyncedCalendarUids_AC7119F4
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.SyncData.ActivitySyncInfo'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.SyncData.ActivitySyncInfo'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.SyncData.ActivitySyncInfo'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          application/xml:
            schema:
              type: array
              items:
                type: string
          text/xml:
            schema:
              type: array
              items:
                type: string
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                type: string
        description: Array of calendar uids.
        required: true
  /api/email-integration-cache-refresh:
    post:
      tags:
      - Sync Data
      summary: Refresh email integration cache for current user
      operationId: SyncData_PostRefreshEmailIntegarionCache_480299E9
      responses:
        '204':
          description: Created indicates that the request resulted in a new resource created for non-authenticated user before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Void'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Void'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Void'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
components:
  schemas:
    System.Void:
      type: object
      properties: {}
    act.web.api.models.SyncData.ActivitySyncInfo:
      description: Activty sync info
      type: object
      properties:
        activityId:
          description: Activity identifier.
          type: string
        externalId:
          description: External id
          type: string
        calendarUid:
          description: Calendar Uid
          type: string
