openapi: 3.2.0
info:
  version: v1
  title: act.web.api Teams API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: Teams
paths:
  /api/teams/{teamNameOrId}/roster:
    get:
      tags:
      - Teams
      summary: Get a team roster
      operationId: Teams_GetTeamRoster_7201F6F3
      parameters:
      - name: teamNameOrId
        in: path
        description: The team name or id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Users.UserInfo'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Users.UserInfo'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Users.UserInfo'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/teams/{id}:
    get:
      tags:
      - Teams
      summary: Get a specific team
      operationId: Teams_Get_0D2F7CC7
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given team.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
    put:
      tags:
      - Teams
      summary: Update an already existing team
      operationId: Teams_Put_DE1E6972
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given team.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        description: The team definition.
        required: true
    delete:
      tags:
      - Teams
      summary: Delete an existing team
      operationId: Teams_Delete_271736CA
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given team.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
    patch:
      tags:
      - Teams
      summary: Partially update an already existing team
      operationId: Teams_Patch_90233207
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given team.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        description: The team definition.
        required: true
  /api/teams:
    get:
      tags:
      - Teams
      summary: Get all teams
      operationId: Teams_Get_97F70E6A
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
    post:
      tags:
      - Teams
      summary: Create a new team
      operationId: Teams_Post_80B0D373
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Teams.Team'
        description: The team definition.
        required: true
components:
  schemas:
    act.web.api.models.Users.UserInfo:
      description: ''
      type: object
      properties:
        id:
          description: ''
          type: string
        username:
          description: ''
          type: string
        role:
          description: ''
          type: string
        displayName:
          description: ''
          type: string
        email:
          description: ''
          type: string
        firstName:
          description: ''
          type: string
        lastLogOnDate:
          format: date-time
          description: ''
          type: string
        lastName:
          description: ''
          type: string
        status:
          description: ''
          type: string
    System.Object:
      type: object
      properties: {}
    act.web.api.models.Teams.Team:
      description: ''
      type: object
      properties:
        id:
          description: ''
          type: string
        name:
          description: ''
          type: string
        description:
          description: ''
          type: string
        roster:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Users.UserInfo'
