openapi: 3.2.0
info:
  version: v1
  title: act.web.api History Types API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: HistoryTypes
paths:
  /api/history-types/{id}:
    get:
      tags:
      - HistoryTypes
      summary: Get a specific history type
      operationId: HistoryTypes_GetHistoryTypeById_4E0AF16E
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given history type.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/historytypes/{name}:
    get:
      tags:
      - HistoryTypes
      summary: Deprecated (Please use '/api/history-types/{name}' instead)
      operationId: HistoryTypes_GetDeprecatedHistoryTypeByName_3232927F
      parameters:
      - name: name
        in: path
        description: The name of the history document type.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: true
  /api/history-types:
    get:
      tags:
      - HistoryTypes
      summary: Gets all history types
      operationId: HistoryTypes_GetHistoryTypes_2691B741
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/historytypes:
    get:
      tags:
      - HistoryTypes
      summary: Deprecated (Please use '/api/history-types' instead)
      operationId: HistoryTypes_GetDeprecatedHistoryTypes_76F493AB
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: true
  /api/task-types/{id}/history-types:
    get:
      tags:
      - HistoryTypes
      summary: Gets all history types for a specific tasks type by id
      operationId: HistoryTypes_GetHistoryTypesByTaskTypeId_C004BADF
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given activity type.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
components:
  schemas:
    act.web.api.models.MetaData.TypeCodes.HistoryType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        activityTypeId:
          description: ''
          type: string
        activityTypeName:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        isDefault:
          description: ''
          type: boolean
        isUserRecordable:
          description: ''
          type: boolean
    act.web.api.models.MetaData.TypeCodes.ActivityType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        activityTypeGuid:
          description: ''
          type: string
