openapi: 3.1.0
info:
  title: Act! Web API — Geographics
  version: v1
  description: Act! Web API is a JSON-based REST API for the Act! CRM database, exposing contacts, companies,
    groups, opportunities, activities, notes, history and custom entities. Reads support OData query options
    ($filter, $orderby, $top, $skip, $select, $expand) and requests may be batched via POST /api/$batch.
    Authentication is a JWT bearer token obtained from GET /authorize using HTTP Basic credentials plus
    an Act-Database-Name header.
  contact:
    name: Act! Developers
    url: https://www.act.com/developer/
  termsOfService: https://www.act.com/legal/terms-of-service/
servers:
- url: https://apimta.act.com/act.web.api
  description: Act! Premium Cloud API — US region (host and basePath as published in the provider Swagger
    document).
- url: https://{server}/{customer}-api/act.web.api
  description: Act! Premium Cloud tenant endpoint, per the Act! Web API home page.
  variables:
    server:
      default: apimta.act.com
    customer:
      default: customer
- url: https://{server}/act.web.api
  description: Self-hosted Act! Premium for Web / Act! Premium Windows IIS deployment.
  variables:
    server:
      default: localhost
tags:
- name: Geographics
security:
- bearerAuth: []
  actDatabaseName: []
paths:
  /api/geographics/phonenumber/masks/{id}:
    delete:
      tags:
      - Geographics
      summary: Delete the phone number mask.
      operationId: Geographics_DeletePhoneMask_6E1968FC
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given mask.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/geographics/contact-geolocation:
    get:
      tags:
      - Geographics
      summary: Get all geolocation codes for a given contact.
      operationId: Geographics_GetContactGeolocations_88FA78BA
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.ContactCountByLocation'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.ContactCountByLocation'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.ContactCountByLocation'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/geographics/phonenumber/countries:
    get:
      tags:
      - Geographics
      summary: Get all countries with phone format masks matching an (optional) OData query.
      operationId: Geographics_GetCountries_36346831
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.Country'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.Country'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.Country'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/geographics/phonenumber/masks:
    get:
      tags:
      - Geographics
      summary: Get all phone format mask matching an (optional) OData query.
      operationId: Geographics_GetPhoneFormats_DF3DDE31
      parameters:
      - name: refresh
        in: query
        required: false
        description: Refreshing the Act! phone format mask cache.
        schema:
          type: boolean
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.Mask'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.Mask'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Geographics.Mask'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/geographics/phonenumber/default-masks/{id}:
    put:
      tags:
      - Geographics
      summary: Set the phone number mask to be the default.
      operationId: Geographics_PutDefaultPhoneMask_B645F864
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given mask.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Geographics.Mask'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Geographics.Mask'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Geographics.Mask'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials (Act! user name and password, RFC 7617) presented to GET /authorize
        together with the Act-Database-Name header to mint a JWT bearer token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT bearer token returned by GET /authorize (RFC 6750). Sent as Authorization: Bearer
        <token> on every API request.'
    actDatabaseName:
      type: apiKey
      in: header
      name: Act-Database-Name
      description: Name of the Act! database the request is scoped to.
  schemas:
    act.web.api.models.Geographics.ContactCountByLocation:
      description: A nation with its own government, occupying a particular territory.
      type: object
      properties:
        countryName:
          description: A nation with its own government, occupying a particular territory.
          type: string
        postalCode:
          description: A code of letters and digits added to a postal address to aid in the sorting of
            mail.
          type: string
        latitude:
          format: double
          description: The angular distance of a place north or south of the earth's equator, or of a
            celestial object north or south of the celestial equator, usually expressed in degrees and
            minutes.
          type: number
        longitude:
          format: double
          description: The angular distance of a place east or west of the meridian at Greenwich, England,
            or west of the standard meridian of a celestial object, usually expressed in degrees and minutes.
          type: number
        contactCount:
          format: int32
          description: Total number of contacts for a given location.
          type: integer
    act.web.api.models.Geographics.Country:
      description: A nation with its own government, occupying a particular territory.
      type: object
      properties:
        id:
          description: The unique identifier (id) for this country.
          type: string
        name:
          description: The country's given name.
          type: string
    act.web.api.models.Geographics.Mask:
      description: ''
      type: object
      properties:
        id:
          description: The unique identifier (id) for this phone format mask.
          type: string
        country:
          $ref: '#/components/schemas/act.web.api.models.Geographics.Country'
          description: A territory where this phone format mask is uses.
        default:
          description: Indicates that this mask is the default phone format mask.
          type: boolean
        format:
          description: The mask that is used to format the phone number.
          type: string
        isActive:
          description: Indicates that this mask is in an active state or not.
          type: boolean
