openapi: 3.2.0
info:
  version: v1
  title: act.web.api Cors API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: CORS
paths:
  /api/Cors:
    get:
      tags:
      - CORS
      summary: Cors get allowed cors 656 A6 DCA
      operationId: Cors_GetAllowedCors_656A6DCA
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
      x-summary-source: derived
  /api/Cors/{id}:
    get:
      tags:
      - CORS
      summary: Cors get allowed cors 949584 D1
      operationId: Cors_GetAllowedCors_949584D1
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
      x-summary-source: derived
    put:
      tags:
      - CORS
      summary: Add a cors entry to the cors customer config (web.customer.config)
      operationId: Cors_PutAllowedCorsOrigin_FD355C2F
      parameters:
      - name: id
        in: path
        description: The cors domain entry. sample( http://mydomain:8080)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
    delete:
      tags:
      - CORS
      summary: Remove a cors entry from the cors customer config (web.customer.config)
      operationId: Cors_DeleteAllowedCorsOrigin_C0A842D5
      parameters:
      - name: id
        in: path
        description: The cors domain entry. sample( http://mydomain:8080)
        required: true
        schema:
          type: string
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
components:
  schemas:
    System.Object:
      type: object
      properties: {}
