openapi: 3.2.0
info:
  version: v1
  title: act.web.api Task Types API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: Task Types
paths:
  /api/task-types/{taskTypeId}/regarding-dropdown:
    get:
      tags:
      - Task Types
      summary: Gets the regarding dropdown list by task type id
      operationId: TaskTypes_GetRegardingDropdownList_9668D3E9
      parameters:
      - name: taskTypeId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.Picklists.DropDownPickListItem'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.Picklists.DropDownPickListItem'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.Picklists.DropDownPickListItem'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/task-types:
    get:
      tags:
      - Task Types
      summary: Gets all task types
      operationId: TaskTypes_Get_CA70DD31
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
    post:
      tags:
      - Task Types
      summary: Create a new custom task types
      operationId: TaskTypes_Post_49D8FCA6
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The custom task type definition.
        required: true
  /api/task-types/{id}:
    get:
      tags:
      - Task Types
      summary: Get task type by identifier
      operationId: TaskTypes_GetById_82B0E217
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given task type.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
    put:
      tags:
      - Task Types
      summary: Update an already existing custom task type
      operationId: TaskTypes_Put_85CD258C
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given custom task type.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The custom task type definition.
        required: true
    delete:
      tags:
      - Task Types
      summary: Delete an existing custom task type
      operationId: TaskTypes_Delete_AA10E002
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given custom task type.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
    patch:
      tags:
      - Task Types
      summary: Partially update an already existing custom task type
      operationId: TaskTypes_Patch_C3E0417B
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given custom task type.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The custom task type definition.
        required: true
  /api/task-types/batch:
    patch:
      tags:
      - Task Types
      summary: Partially update for list of already created task types
      operationId: TaskTypes_PatchUpdateBatchOfActivityTasks_DE61FFCD
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The list of custom task type.
        required: true
components:
  schemas:
    act.web.api.models.TaskTypes.TaskType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        isDeletable:
          description: Indicate that the task type can be deleted.
          type: boolean
        taskTypeGuid:
          description: ''
          type: string
        historyTypes:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskTypesHistoryType'
        defaultPreferences:
          $ref: '#/components/schemas/act.web.api.models.Preferences.TaskDefaultPreferences'
          description: ''
    act.web.api.models.MetaData.Picklists.DropDownPickListItem:
      description: Represents a value item for a PickList object.
      type: object
      properties:
        id:
          description: Gets the unique identifier of the PickListItem object.
          type: string
        value:
          description: Gets or sets the value of the PickListItem object.
          type: string
        description:
          description: Gets the description of the picklist item.
          type: string
    act.web.api.models.Preferences.TaskDefaultPreferences:
      description: ''
      type: object
      properties:
        priority:
          format: int32
          description: Tasks type priority.
          type: integer
        reminder:
          format: int32
          description: The number of minutes before the tasks starts.
          type: integer
        duration:
          format: int32
          description: The number of minutes which the task with exists or lasts.
          type: integer
        isAllDayEvent:
          description: All day event.
          type: boolean
        autoRollover:
          description: Allow auto roll over to today.
          type: boolean
        color:
          description: 'Calendar hex color for a given task type [Green = #00b19e, Orange = #fe5000, Purple = #566bee, Plum = #9d04b8, Blue = #03b3ff, Yellow = #e5cd48, Raspberry = #be2951, Emerald = #26906f, DarkBlue = #008cc5, Grape = #263690] | <b>GET: api/preferences/task-types/color-palette</b>.'
          type: string
        taskDropDownFields:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Preferences.TaskTypeDropDownFieldPreferences'
    act.web.api.models.Preferences.TaskTypeDropDownFieldPreferences:
      description: Describe activity type fields preferences.
      type: object
      properties:
        code:
          description: Field type.
          type: string
        value:
          description: Display drop-down to this field.
          type: boolean
    System.Object:
      type: object
      properties: {}
    act.web.api.models.TaskTypes.TaskTypesHistoryType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: Gets the name of this history type.
          type: string
        description:
          description: Gets brief description of this history type.
          type: string
        clearType:
          description: ''
          enum:
          - OTHER
          - COMPLETED
          - NOTCOMPLETED
          - ERASED
          type: string
        isDefault:
          description: Indicates that this history type is default.
          type: boolean
