openapi: 3.2.0
info:
  title: Act! Web Task Types API
  version: v1
  description: Act! Web API is a JSON-based REST API for the Act! CRM database, exposing contacts, companies, groups, opportunities, activities, notes, history and custom entities. Reads support OData query options ($filter, $orderby, $top, $skip, $select, $expand) and requests may be batched via POST /api/$batch. Authentication is a JWT bearer token obtained from GET /authorize using HTTP Basic credentials plus an Act-Database-Name header.
  contact:
    name: Act! Developers
    url: https://www.act.com/developer/
  termsOfService: https://www.act.com/legal/terms-of-service/
servers:
- url: https://apimta.act.com/act.web.api
  description: Act! Premium Cloud API — US region (host and basePath as published in the provider Swagger document).
- url: https://{server}/{customer}-api/act.web.api
  description: Act! Premium Cloud tenant endpoint, per the Act! Web API home page.
  variables:
    server:
      default: apimta.act.com
    customer:
      default: customer
- url: https://{server}/act.web.api
  description: Self-hosted Act! Premium for Web / Act! Premium Windows IIS deployment.
  variables:
    server:
      default: localhost
security:
- bearerAuth: []
  actDatabaseName: []
tags:
- name: TaskTypes
paths:
  /api/task-types/{taskTypeId}/regarding-dropdown:
    get:
      tags:
      - TaskTypes
      summary: Gets the regarding dropdown list by task type id.
      operationId: TaskTypes_GetRegardingDropdownList_9668D3E9
      parameters:
      - name: taskTypeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.Picklists.DropDownPickListItem'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.Picklists.DropDownPickListItem'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.Picklists.DropDownPickListItem'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/task-types:
    get:
      tags:
      - TaskTypes
      summary: Gets all task types.
      operationId: TaskTypes_Get_CA70DD31
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
    post:
      tags:
      - TaskTypes
      summary: Create a new custom task types.
      operationId: TaskTypes_Post_49D8FCA6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The custom task type definition.
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/task-types/{id}:
    get:
      tags:
      - TaskTypes
      summary: Get task type by identifier.
      operationId: TaskTypes_GetById_82B0E217
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given task type.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
    put:
      tags:
      - TaskTypes
      summary: Update an already existing custom task type.
      operationId: TaskTypes_Put_85CD258C
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given custom task type.
        schema:
          type: integer
          format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The custom task type definition.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - TaskTypes
      summary: Delete an existing custom task type.
      operationId: TaskTypes_Delete_AA10E002
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given custom task type.
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    patch:
      tags:
      - TaskTypes
      summary: Partially update an already existing custom task type.
      operationId: TaskTypes_Patch_C3E0417B
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given custom task type.
        schema:
          type: integer
          format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The custom task type definition.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/task-types/batch:
    patch:
      tags:
      - TaskTypes
      summary: Partially update for list of already created task types.
      operationId: TaskTypes_PatchUpdateBatchOfActivityTasks_DE61FFCD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        description: The list of custom task type.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
components:
  schemas:
    act.web.api.models.TaskTypes.TaskTypesHistoryType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: Gets the name of this history type.
          type: string
        description:
          description: Gets brief description of this history type.
          type: string
        clearType:
          description: ''
          enum:
          - OTHER
          - COMPLETED
          - NOTCOMPLETED
          - ERASED
          type: string
        isDefault:
          description: Indicates that this history type is default.
          type: boolean
    act.web.api.models.MetaData.Picklists.DropDownPickListItem:
      description: Represents a value item for a PickList object.
      type: object
      properties:
        id:
          description: Gets the unique identifier of the PickListItem object.
          type: string
        value:
          description: Gets or sets the value of the PickListItem object.
          type: string
        description:
          description: Gets the description of the picklist item.
          type: string
    act.web.api.models.Preferences.TaskTypeDropDownFieldPreferences:
      description: Describe activity type fields preferences.
      type: object
      properties:
        code:
          description: Field type.
          type: string
        value:
          description: Display drop-down to this field.
          type: boolean
    System.Object:
      type: object
      properties: {}
    act.web.api.models.Preferences.TaskDefaultPreferences:
      description: ''
      type: object
      properties:
        priority:
          format: int32
          description: Tasks type priority.
          type: integer
        reminder:
          format: int32
          description: The number of minutes before the tasks starts.
          type: integer
        duration:
          format: int32
          description: The number of minutes which the task with exists or lasts.
          type: integer
        isAllDayEvent:
          description: All day event.
          type: boolean
        autoRollover:
          description: Allow auto roll over to today.
          type: boolean
        color:
          description: 'Calendar hex color for a given task type [Green = #00b19e, Orange = #fe5000, Purple = #566bee, Plum = #9d04b8, Blue = #03b3ff, Yellow = #e5cd48, Raspberry = #be2951, Emerald = #26906f, DarkBlue = #008cc5, Grape = #263690] | <b>GET: api/preferences/task-types/color-palette</b>.'
          type: string
        taskDropDownFields:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Preferences.TaskTypeDropDownFieldPreferences'
    act.web.api.models.TaskTypes.TaskType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        isDeletable:
          description: Indicate that the task type can be deleted.
          type: boolean
        taskTypeGuid:
          description: ''
          type: string
        historyTypes:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.TaskTypes.TaskTypesHistoryType'
        defaultPreferences:
          $ref: '#/components/schemas/act.web.api.models.Preferences.TaskDefaultPreferences'
          description: ''
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials (Act! user name and password, RFC 7617) presented to GET /authorize together with the Act-Database-Name header to mint a JWT bearer token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT bearer token returned by GET /authorize (RFC 6750). Sent as Authorization: Bearer <token> on every API request.'
    actDatabaseName:
      type: apiKey
      in: header
      name: Act-Database-Name
      description: Name of the Act! database the request is scoped to.
