openapi: 3.2.0
info:
  version: v1
  title: act.web.api Marketing Automations API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: MarketingAutomations
paths:
  /api/contacts/{id}/campaign-results:
    get:
      tags:
      - MarketingAutomations
      summary: Get all Campaign Results matching an (optional) OData query
      operationId: MarketingAutomations_GetCampaignResults_2DD93C76
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given contact.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.CampaignResult'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.CampaignResult'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.CampaignResult'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: true
  /api/contacts/{id}/campaigns:
    get:
      tags:
      - MarketingAutomations
      summary: Get all Campaign matching an (optional) OData query
      operationId: MarketingAutomations_GetCampaign_29DE6BDC
      parameters:
      - name: id
        in: path
        description: The unique identifier (id) for a given contact.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.Campaign'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.Campaign'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.Campaign'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/MarketingAutomations:
    post:
      tags:
      - MarketingAutomations
      summary: Create a new Marketing Automation Email
      operationId: MarketingAutomations_PostEmail_60DBC5D7
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.MarketingAutomation.MarketingAutomationEmail'
        description: Chronicle AMA Email.
        required: true
components:
  schemas:
    act.web.api.models.MarketingAutomation.CampaignResult:
      description: ''
      type: object
      properties:
        campaignId:
          description: ''
          type: string
        campaignEmailId:
          description: ''
          type: string
        campaignName:
          description: ''
          type: string
        campaignResultsId:
          description: ''
          type: string
        clicks:
          format: int32
          description: ''
          type: integer
        createDate:
          format: date-time
          description: ''
          type: string
        createUserId:
          description: ''
          type: string
        creatorName:
          description: ''
          type: string
        editDate:
          format: date-time
          description: ''
          type: string
        editorName:
          description: ''
          type: string
        editUserId:
          description: ''
          type: string
        hasComplained:
          description: ''
          type: boolean
        isBounced:
          description: ''
          type: boolean
        isPrivate:
          description: ''
          type: boolean
        isUnsubscribed:
          description: ''
          type: boolean
        jumpToURL:
          description: ''
          type: string
        lastClickDate:
          format: date-time
          description: ''
          type: string
        managerName:
          description: ''
          type: string
        manageUserId:
          description: ''
          type: string
        openDate:
          format: date-time
          description: ''
          type: string
        opens:
          format: int32
          description: ''
          type: integer
        recipientEmail:
          description: ''
          type: string
        sendDate:
          format: date-time
          description: ''
          type: string
        senderEmail:
          description: ''
          type: string
        subjectLine:
          description: ''
          type: string
        typeEnum:
          format: int32
          description: ''
          type: integer
        url:
          description: ''
          type: string
    act.web.api.models.MarketingAutomation.Campaign:
      description: ''
      type: object
      properties:
        id:
          description: Unique identifier.
          type: string
        emailId:
          description: The unique identifier (id) for this email.
          type: string
        campaignId:
          description: The unique identifier (id) for this campaign.
          type: string
        campaignName:
          description: The friendly name of the campaign.
          type: string
        contacts:
          description: ''
          type: array
          items:
            type: string
        receiverEmail:
          description: ''
          type: string
        senderEmail:
          description: ''
          type: string
        sendDate:
          format: date-time
          description: ''
          type: string
        subject:
          description: ''
          type: string
        url:
          description: ''
          type: string
        jumpUrl:
          description: ''
          type: string
        clicks:
          description: ''
          type: boolean
        clickDate:
          format: date-time
          description: ''
          type: string
        opens:
          description: ''
          type: boolean
        openDate:
          format: date-time
          description: ''
          type: string
        bounced:
          description: When an email message cannot be delivered to an email address
          type: boolean
        unsubscribed:
          description: Cancel from an electronic mailing list.
          type: boolean
        complained:
          description: A statement that a situation is unsatisfactory or unacceptable
          type: boolean
        isPrivate:
          description: ''
          type: boolean
        createDate:
          format: date-time
          description: ''
          type: string
        createUserId:
          description: ''
          type: string
        creatorName:
          description: ''
          type: string
        editDate:
          format: date-time
          description: ''
          type: string
        editUserId:
          description: ''
          type: string
        editorName:
          description: ''
          type: string
        manageUserId:
          description: ''
          type: string
        managerName:
          description: ''
          type: string
        recipientEmail:
          description: ''
          type: string
        typeEnum:
          format: int32
          description: ''
          type: integer
    act.web.api.models.MarketingAutomation.MarketingAutomationEmail:
      description: AMA Emails
      required:
      - emailId
      - campaignId
      - campaignName
      type: object
      properties:
        id:
          description: Unique identifier.
          type: string
        emailId:
          description: The unique identifier (id) for this email.
          type: string
        campaignId:
          description: The unique identifier (id) for this campaign.
          type: string
        campaignName:
          description: The friendly name of the campaign.
          type: string
        contacts:
          description: ''
          type: array
          items:
            type: string
        receiverEmail:
          description: ''
          type: string
        senderEmail:
          description: ''
          type: string
        sendDate:
          format: date-time
          description: ''
          type: string
        subject:
          description: ''
          type: string
        url:
          description: ''
          type: string
        jumpUrl:
          description: ''
          type: string
        clicks:
          description: ''
          type: boolean
        clickDate:
          format: date-time
          description: ''
          type: string
        opens:
          description: ''
          type: boolean
        openDate:
          format: date-time
          description: ''
          type: string
        bounced:
          description: When an email message cannot be delivered to an email address
          type: boolean
        unsubscribed:
          description: Cancel from an electronic mailing list.
          type: boolean
        complained:
          description: A statement that a situation is unsatisfactory or unacceptable
          type: boolean
        isPrivate:
          description: ''
          type: boolean
