openapi: 3.1.0
info:
  title: Act! Web API — DocumentTypes
  version: v1
  description: Act! Web API is a JSON-based REST API for the Act! CRM database, exposing contacts, companies,
    groups, opportunities, activities, notes, history and custom entities. Reads support OData query options
    ($filter, $orderby, $top, $skip, $select, $expand) and requests may be batched via POST /api/$batch.
    Authentication is a JWT bearer token obtained from GET /authorize using HTTP Basic credentials plus
    an Act-Database-Name header.
  contact:
    name: Act! Developers
    url: https://www.act.com/developer/
  termsOfService: https://www.act.com/legal/terms-of-service/
servers:
- url: https://apimta.act.com/act.web.api
  description: Act! Premium Cloud API — US region (host and basePath as published in the provider Swagger
    document).
- url: https://{server}/{customer}-api/act.web.api
  description: Act! Premium Cloud tenant endpoint, per the Act! Web API home page.
  variables:
    server:
      default: apimta.act.com
    customer:
      default: customer
- url: https://{server}/act.web.api
  description: Self-hosted Act! Premium for Web / Act! Premium Windows IIS deployment.
  variables:
    server:
      default: localhost
tags:
- name: DocumentTypes
security:
- bearerAuth: []
  actDatabaseName: []
paths:
  /api/documents/history-types:
    get:
      tags:
      - DocumentTypes
      summary: Gets all document history types.
      operationId: DocumentTypes_GetHistoryTypesByDocumentTypes_9824C3CA
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/documents/historytypes:
    get:
      tags:
      - DocumentTypes
      summary: Deprecated (Please use '/api/documents/history-types' instead).
      operationId: DocumentTypes_GetLibraryDocumentHistoryTypes_51035BB4
      deprecated: true
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/documents/history-types/{name}:
    get:
      tags:
      - DocumentTypes
      summary: Get a specific history document type by name.
      operationId: DocumentTypes_GetHistoryTypesByDocumentType_82E4F41A
      parameters:
      - name: name
        in: path
        required: true
        description: The name of the history document type.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/documents/historytypes/{name}:
    get:
      tags:
      - DocumentTypes
      summary: Deprecated (Please use '/api/documents/history-types/{name}' instead).
      operationId: DocumentTypes_GetLibraryDocumentHistoryTypeByName_59C45724
      deprecated: true
      parameters:
      - name: name
        in: path
        required: true
        description: The name of the history document type.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials (Act! user name and password, RFC 7617) presented to GET /authorize
        together with the Act-Database-Name header to mint a JWT bearer token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT bearer token returned by GET /authorize (RFC 6750). Sent as Authorization: Bearer
        <token> on every API request.'
    actDatabaseName:
      type: apiKey
      in: header
      name: Act-Database-Name
      description: Name of the Act! database the request is scoped to.
  schemas:
    act.web.api.models.MetaData.TypeCodes.ActivityType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        activityTypeGuid:
          description: ''
          type: string
    act.web.api.models.MetaData.TypeCodes.HistoryType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        activityTypeId:
          description: ''
          type: string
        activityTypeName:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        isDefault:
          description: ''
          type: boolean
        isUserRecordable:
          description: ''
          type: boolean
