openapi: 3.1.0
info:
  title: Act! Web API — System
  version: v1
  description: Act! Web API is a JSON-based REST API for the Act! CRM database, exposing contacts, companies,
    groups, opportunities, activities, notes, history and custom entities. Reads support OData query options
    ($filter, $orderby, $top, $skip, $select, $expand) and requests may be batched via POST /api/$batch.
    Authentication is a JWT bearer token obtained from GET /authorize using HTTP Basic credentials plus
    an Act-Database-Name header.
  contact:
    name: Act! Developers
    url: https://www.act.com/developer/
  termsOfService: https://www.act.com/legal/terms-of-service/
servers:
- url: https://apimta.act.com/act.web.api
  description: Act! Premium Cloud API — US region (host and basePath as published in the provider Swagger
    document).
- url: https://{server}/{customer}-api/act.web.api
  description: Act! Premium Cloud tenant endpoint, per the Act! Web API home page.
  variables:
    server:
      default: apimta.act.com
    customer:
      default: customer
- url: https://{server}/act.web.api
  description: Self-hosted Act! Premium for Web / Act! Premium Windows IIS deployment.
  variables:
    server:
      default: localhost
tags:
- name: System
security:
- bearerAuth: []
  actDatabaseName: []
paths:
  /api/multilanguage/currencies:
    get:
      tags:
      - System
      summary: Get a list of currency symbol from system regional settings.
      operationId: System_GetMultilanguageCurrencies_56F2B4ED
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Database.Currency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Database.Currency'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Database.Currency'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/multilanguage/currencies/current:
    get:
      tags:
      - System
      summary: Gets the configured culture settings for the database.
      operationId: System_GetMultilanguageCurrency_403C990D
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Database.Currency'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Database.Currency'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Database.Currency'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/multilanguage/currency:
    get:
      tags:
      - System
      summary: Deprecated (Please use 'api/multilanguage/currencies/current' instead).
      operationId: System_GetMultilanguageCurrencyDeprecated_F1F71F04
      deprecated: true
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Database.Currency'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Database.Currency'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Database.Currency'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/registration:
    get:
      tags:
      - System
      summary: Gets the registered Act! serial number and the total number of client access licenses.
      operationId: System_GetSerialNumber_D9EF7725
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Utilities.LicenseInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Utilities.LicenseInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Utilities.LicenseInfo'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/system:
    get:
      tags:
      - System
      summary: Gets version information for Act! and the Web API.
      operationId: System_GetVersion_2833248C
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Utilities.SystemInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Utilities.SystemInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Utilities.SystemInfo'
        '500':
          description: Unexpected error.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials (Act! user name and password, RFC 7617) presented to GET /authorize
        together with the Act-Database-Name header to mint a JWT bearer token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT bearer token returned by GET /authorize (RFC 6750). Sent as Authorization: Bearer
        <token> on every API request.'
    actDatabaseName:
      type: apiKey
      in: header
      name: Act-Database-Name
      description: Name of the Act! database the request is scoped to.
  schemas:
    act.web.api.models.Database.Currency:
      description: ''
      type: object
      properties:
        symbol:
          description: ''
          type: string
        description:
          description: ''
          type: string
        country:
          description: ''
          type: string
        code:
          description: ''
          type: string
        displayText:
          description: ''
          type: string
        decimalDigits:
          format: int32
          description: ''
          type: integer
        decimalSeparator:
          description: ''
          type: string
        groupSeparator:
          description: ''
          type: string
        negativeSign:
          description: ''
          type: string
        percentSymbol:
          description: ''
          type: string
    act.web.api.models.Utilities.Culture:
      description: Provides information about the current culture.
      type: object
      properties:
        displayName:
          description: Gets the full localized culture name.
          type: string
        name:
          description: Gets the culture name in the format languagecode2-country/regioncode2.
          type: string
        nativeName:
          description: Gets the culture name, consisting of the language, the country/region, and the
            optional script, that the culture is set to display.
          type: string
        threeLetterISOLanguageName:
          description: Gets the ISO 639-2 three-letter code for the language of the current System.Globalization.CultureInfo.
          type: string
        twoLetterISOLanguageName:
          description: Gets the ISO 639-1 two-letter code for the language of the current System.Globalization.CultureInfo.
          type: string
        dateTimeFormat:
          $ref: '#/components/schemas/act.web.api.models.Utilities.DateFormat'
          description: The Culture
    act.web.api.models.Utilities.DateFormat:
      description: ''
      type: object
      properties:
        fullDateTimePattern:
          description: Gets the custom format string for a long date and long time value.
          type: string
        longDatePattern:
          description: Gets the custom format string for a long date value.
          type: string
        longTimePattern:
          description: Gets the custom format string for a long time value.
          type: string
        shortDatePattern:
          description: Gets the custom format string for a short date value.
          type: string
        shortTimePattern:
          description: Gets the custom format string for a short time value.
          type: string
        sortableDateTimePattern:
          description: Gets the custom format string for a sortable date and time value.
          type: string
    act.web.api.models.Utilities.LicenseInfo:
      description: Registered license information
      type: object
      properties:
        serialNumber:
          description: The registered Act! license serial number
          type: string
        type:
          description: The licensing option selected for this serial number (Subscription or Perpetual)
          type: string
        userLicenses:
          format: int32
          description: The number of user seats available for this serial number
          type: integer
    act.web.api.models.Utilities.SystemInfo:
      description: Provides system information about the API
      type: object
      properties:
        apiVersion:
          description: The API version.
          type: string
        sdkVersion:
          description: The Act! SDK version.
          type: string
        update:
          format: int32
          description: The Act! Update version.
          type: integer
        culture:
          $ref: '#/components/schemas/act.web.api.models.Utilities.Culture'
          description: Provides information about the current culture.
