openapi: 3.1.0
info:
  title: Act! Web API — Contacts
  version: v1
  description: Act! Web API is a JSON-based REST API for the Act! CRM database, exposing contacts, companies,
    groups, opportunities, activities, notes, history and custom entities. Reads support OData query options
    ($filter, $orderby, $top, $skip, $select, $expand) and requests may be batched via POST /api/$batch.
    Authentication is a JWT bearer token obtained from GET /authorize using HTTP Basic credentials plus
    an Act-Database-Name header.
  contact:
    name: Act! Developers
    url: https://www.act.com/developer/
  termsOfService: https://www.act.com/legal/terms-of-service/
servers:
- url: https://apimta.act.com/act.web.api
  description: Act! Premium Cloud API — US region (host and basePath as published in the provider Swagger
    document).
- url: https://{server}/{customer}-api/act.web.api
  description: Act! Premium Cloud tenant endpoint, per the Act! Web API home page.
  variables:
    server:
      default: apimta.act.com
    customer:
      default: customer
- url: https://{server}/act.web.api
  description: Self-hosted Act! Premium for Web / Act! Premium Windows IIS deployment.
  variables:
    server:
      default: localhost
tags:
- name: Contacts
security:
- bearerAuth: []
  actDatabaseName: []
paths:
  /api/companies/{companyId}/associated-contacts/{contactId}:
    put:
      tags:
      - Contacts
      summary: Associate a contact to a specific company.
      operationId: Contacts_PutAssociatedContactsToCompany_621AF2E3
      parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier (id) for a given company.
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Dissociate a list of contact from a specific company.
      operationId: Contacts_DeleteAssociatedContactsFromCompany_BF82BC0F
      parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier (id) for a given company.
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/companies/{companyId}/associated-contacts:
    get:
      tags:
      - Contacts
      summary: List of contacts from a specific company and matching an (optional) OData query.
      operationId: Contacts_GetAssociatedContactsFromCompany_34A1C438
      parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier (id) for a given company.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    put:
      tags:
      - Contacts
      summary: Associate a list of contact to a specific company.
      operationId: Contacts_PutAssociatedContactsToCompany_AFF2F533
      parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier (id) for a given company.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: Contacts assign model.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Dissociate a list of contact from a specific company.
      operationId: Contacts_DeleteAssociatedContactsFromCompany_01636144
      parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier (id) for a given company.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: A list of contact identifiers.
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/groups/{groupId}/associated-contacts:
    get:
      tags:
      - Contacts
      summary: List of contacts from a specific group and matching an (optional) OData query.
      operationId: Contacts_GetAssociatedContactsFromGroup_8FB71684
      parameters:
      - name: groupId
        in: path
        required: true
        description: The unique identifier (id) for a given group.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
    put:
      tags:
      - Contacts
      summary: Assign the list of contacts to selected group.
      operationId: Contacts_PutAssociatedContactsToGroup_4264268C
      parameters:
      - name: groupId
        in: path
        required: true
        description: The unique identifier (id) for a given group.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: Contacts assign model.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Dissociate a list of contact from a specific group.
      operationId: Contacts_DeleteAssociatedContactsFromGroup_ACB6D180
      parameters:
      - name: groupId
        in: path
        required: true
        description: The unique identifier (id) for a given group.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: A list of contact identifiers.
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/groups/{groupId}/associated-contacts/{contactId}:
    put:
      tags:
      - Contacts
      summary: Assign a contacts to selected group.
      operationId: Contacts_PutAssociatedContactsToGroup_F1CA97F7
      parameters:
      - name: groupId
        in: path
        required: true
        description: The unique identifier (id) for a given group.
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Dissociate a contact from a specific group.
      operationId: Contacts_DeleteAssociatedContactsFromGroup_62F8F0FA
      parameters:
      - name: groupId
        in: path
        required: true
        description: The unique identifier (id) for a given group.
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/opportunities/{opportunityId}/associated-contacts:
    get:
      tags:
      - Contacts
      summary: List of contacts from a specific opportunity and matching an (optional) OData query.
      operationId: Contacts_GetAssociatedContactsFromOpportunity_25342CA2
      parameters:
      - name: opportunityId
        in: path
        required: true
        description: The unique identifier (id) for a given opportunity.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
    put:
      tags:
      - Contacts
      summary: Associate a list of contacts to a specific opportunity.
      operationId: Contacts_PutAssociatedContactsToOpportunity_C1B26508
      parameters:
      - name: opportunityId
        in: path
        required: true
        description: The unique identifier (id) for a given opportunity.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: List of unique identifiers (id) for a given contacts that aren't associated with
          a opportunity.
      responses:
        '200':
          description: OK indicates that the request has been successfully processed and that the response
            contain list of assigned contacts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Dissociate a list of contacts from a specific opportunity.
      operationId: Contacts_DeleteAssociatedContactsFromOpportunity_1D52AFD2
      parameters:
      - name: opportunityId
        in: path
        required: true
        description: The unique identifier (id) for a given opportunity.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: List of contact identifiers.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/opportunities/{opportunityId}/associated-contacts/{contactId}:
    put:
      tags:
      - Contacts
      summary: Associate a list of contacts to a specific opportunity.
      operationId: Contacts_PutAssociatedContactsToOpportunity_098F6405
      parameters:
      - name: opportunityId
        in: path
        required: true
        description: The unique identifier (id) for a given opportunity.
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request has been successfully processed and that the response
            contain list of assigned contacts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Dissociate a contact from a specific opportunity.
      operationId: Contacts_DeleteAssociatedContactsFromOpportunity_474A1A27
      parameters:
      - name: opportunityId
        in: path
        required: true
        description: The unique identifier (id) for a given opportunity.
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/{contactId}:
    get:
      tags:
      - Contacts
      summary: Get a specific contact.
      operationId: Contacts_GetContact_E09EB702
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    put:
      tags:
      - Contacts
      summary: Update an already existing contact.
      operationId: Contacts_PutContact_9B5285C5
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        description: The contact definition.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    delete:
      tags:
      - Contacts
      summary: Delete a specific contact.
      operationId: Contacts_DeleteContact_59870332
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      responses:
        '204':
          description: NoContent indicates that the request has been successfully processed and that the
            response is intentionally blank.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
    patch:
      tags:
      - Contacts
      summary: Update (partially) an already existing contact.
      operationId: Contacts_PatchContact_7296FF7D
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        description: The contact definition.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/{entityName}/{id}/associated-contacts:
    get:
      tags:
      - Contacts
      summary: List of contacts from a specific custom entity and matching an (optional) OData query.
      operationId: Contacts_GetAssociatedContactsFromCustomEntity_6197F6E7
      parameters:
      - name: entityName
        in: path
        required: true
        description: The name of the custom entity.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given entity row
        schema:
          type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/by-ids:
    get:
      tags:
      - Contacts
      summary: Get a specific contact.
      operationId: Contacts_GetContactsByIds_55F074BD
      parameters:
      - name: ids
        in: query
        required: true
        description: A list of unique identifier (id) for a given contact.
        schema:
          type: array
          items:
            type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/{contactId}/access:
    get:
      tags:
      - Contacts
      summary: Get all contact access levels matching an (optional) OData query.
      operationId: Contacts_GetContactAccessLevel_1FD81CBE
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier for the contact.
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
    put:
      tags:
      - Contacts
      summary: Update an already existing contact access level accessors.
      operationId: Contacts_PutContactAccessors_626023E8
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
        description: The unique identifier (id) for a given accessor.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts:
    get:
      tags:
      - Contacts
      summary: Get all contacts matching an (optional) OData query.
      operationId: Contacts_GetContacts_70C5959A
      parameters:
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
    post:
      tags:
      - Contacts
      summary: Create a new Contact.
      operationId: Contacts_PostContact_03914590
      parameters:
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        description: The contact definition.
      responses:
        '201':
          description: Created indicates that the request resulted in a new resource created before the
            response was sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/group-contacts:
    get:
      tags:
      - Contacts
      summary: Get a distinct list of contact(s) within a comma-delimited group array matching an (optional)
        OData query.
      operationId: Contacts_GetContactsByGroupArray_1477F23B
      parameters:
      - name: ids
        in: query
        required: false
        description: An comma-delimited string array of unique identifier (id) for a given group.
        schema:
          type: array
          items:
            type: string
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/contacts/nearby:
    get:
      tags:
      - Contacts
      summary: Get all contact(s) that are nearby a given latitude and longitude and matching an (optional)
        OData query.
      operationId: Contacts_GetContactsNearby_79C9A6E2
      parameters:
      - name: latitude
        in: query
        required: true
        description: The angular distance of a place north or south of the earth's equator, or of a celestial
          object north or south of the celestial equator, usually expressed in degrees and minutes.
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        required: true
        description: The angular distance of a place east or west of the meridian at Greenwich, England,
          or west of the standard meridian of a celestial object, usually expressed in degrees and minutes.
        schema:
          type: number
          format: double
      - name: radius
        in: query
        required: true
        description: The circumference distance in kilometers from the given latitude and longitude.
        schema:
          type: integer
          format: int32
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/contacts/webinfo:
    get:
      tags:
      - Contacts
      summary: Get contact webinfo hyperlinks matching an (optional) OData query.
      operationId: Contacts_GetContactWebInfo_52862AA8
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Users.WebInfo'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Users.WebInfo'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Users.WebInfo'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
  /api/contacts/myrecord:
    get:
      tags:
      - Contacts
      summary: Get the current users contact.
      operationId: Contacts_GetMyRecord_A9BCA3EB
      parameters:
      - name: phoneFormat
        in: query
        required: false
        schema:
          type: string
          enum:
          - None
          - E164
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/duplicate:
    put:
      tags:
      - Contacts
      summary: Duplicate an array of contacts.
      operationId: Contacts_PutDuplicateContacts_5BFA5E9A
      parameters:
      - name: primaryFields
        in: query
        required: false
        description: 'Duplicate contact will only primary fields: {Primary Fields: True | All Fields:
          false'
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Contacts.ContactListRequest'
        description: Contacts assign model.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/{contactId}/duplicate:
    put:
      tags:
      - Contacts
      summary: Duplicate a given contacts.
      operationId: Contacts_PutDuplicateContacts_A9B3D92A
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      - name: primaryFields
        in: query
        required: false
        description: 'Duplicate contact will only primary fields: {Primary Fields: True | All Fields:
          false'
        schema:
          type: boolean
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/{contactId}/hotlead-subscription:
    put:
      tags:
      - Contacts
      summary: Update an already existing contact.
      operationId: Contacts_PutHotLeadSubscription_2249F5F4
      parameters:
      - name: contactId
        in: path
        required: true
        description: The unique identifier (id) for a given contact.
        schema:
          type: string
      - name: active
        in: query
        required: false
        description: If the contact will be subscribed to hot leads.
        schema:
          type: boolean
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.Contact'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
  /api/contacts/webinfo/{id}/HyperLink/{linkId}:
    put:
      tags:
      - Contacts
      summary: ''
      operationId: Contacts_PutWebInfo_802BA403
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier (id) for a given WebInfo Group.
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        description: The unique identifier (id) for a WebInfo Group HyperLink.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Users.HyperLinks'
          application/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Users.HyperLinks'
          text/xml:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Users.HyperLinks'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/act.web.api.models.Users.HyperLinks'
        description: The HyperLink.
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in
            the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.Contacts.AccessLevel'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest
            is sent when no other error is applicable, or if the exact error is unknown or does not have
            its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The
            WWW-Authenticate header contains the details of how to perform the authentication.
        '404':
          description: NotFound indicates that the requested resource does not exist on the server.
        '500':
          description: Unexpected error.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials (Act! user name and password, RFC 7617) presented to GET /authorize
        together with the Act-Database-Name header to mint a JWT bearer token.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT bearer token returned by GET /authorize (RFC 6750). Sent as Authorization: Bearer
        <token> on every API request.'
    actDatabaseName:
      type: apiKey
      in: header
      name: Act-Database-Name
      description: Name of the Act! database the request is scoped to.
  schemas:
    System.Object:
      type: object
      properties: {}
    act.web.api.models.Address:
      description: A specific place where a person, business, or organization can be found and where physical
        mail can be received.
      type: object
      properties:
        line1:
          description: Primary street address
          type: string
        line2:
          description: Secondary street address
          type: string
        line3:
          description: Miscellaneous street address
          type: string
        city:
          description: An inhabited place of greater size, population, or importance than a town or village.
          type: string
        state:
          description: A nation or territory considered as an organized political community under one
            government.
          type: string
        postalCode:
          description: A code of letters and digits added to a postal address to aid in the sorting of
            mail.
          type: string
        country:
          description: A nation with its own government, occupying a particular territory.
          type: string
        latitude:
          format: double
          description: The angular distance of a place north or south of the earth's equator, or of a
            celestial object north or south of the celestial equator, usually expressed in degrees and
            minutes.
          type: number
        longitude:
          format: double
          description: The angular distance of a place east or west of the meridian at Greenwich, England,
            or west of the standard meridian of a celestial object, usually expressed in degrees and minutes.
          type: number
    act.web.api.models.Contacts.AccessLevel:
      description: ''
      type: object
      properties:
        type:
          description: Defines the entity's access level.
          enum:
          - Public
          - Private
          - LimitedAccess
          type: string
        accessors:
          description: The accessors that have been selected for limited access.
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Users.Accessor'
    act.web.api.models.Contacts.Contact:
      description: The person who is designated for giving information or being a representative for an
        organization.
      type: object
      properties:
        id:
          description: The unique identifier (id) for this contact.
          type: string
        idStatus:
          description: The relative social or professional position of an individual within a group or
            organization.
          type: string
        isUser:
          description: An indicator if this contact is also a user within the system.
          type: boolean
        company:
          description: The organization that this contact is associated with.
          type: string
        department:
          description: An area of special expertise or responsibility.
          type: string
        companyID:
          description: The unique identifier (companyID) for a given companies.
          type: string
        contactType:
          description: 'The type of contact: Contact, Secondary, or User.'
          type: string
        namePrefix:
          description: A patronymic prefix.
          type: string
        firstName:
          description: A personal given name.
          type: string
        middleName:
          description: A name between one's first name and surname.
          type: string
        lastName:
          description: The family name or surname.
          type: string
        nameSuffix:
          description: Provides additional information about the person that identifies an individual
            position, educational degree, accreditation, orffice, or honors.
          type: string
        fullName:
          description: The first name, any middle names, and surname of a contact.  This may also include
            name prefixes and sufixes that are defined within Act!
          type: string
        isFavorite:
          description: Assign this contact as a favorite.
          type: boolean
        isImported:
          description: Identifies last communication or action with a contact.
          type: boolean
        importDate:
          format: date-time
          description: This readonly property displays the date that the opportunity was imported into
            the system.
          type: string
        isPrivate:
          description: Identifies last communication or action with a contact.
          type: boolean
        acl:
          description: Access Levels
          type: string
        lastResults:
          description: Identifies last communication or action with a contact.
          type: string
        lastEmail:
          format: date-time
          description: ''
          type: string
        lastAttempt:
          format: date-time
          description: ''
          type: string
        lastReach:
          format: date-time
          description: ''
          type: string
        lastMeeting:
          format: date-time
          description: ''
          type: string
        lastLetterSent:
          format: date-time
          description: ''
          type: string
        messengerID:
          description: An online identifier alias.
          type: string
        referredBy:
          description: Indicates how this contact came about.
          type: string
        salutation:
          description: A gesture or utterance made as a greeting or acknowledgment.
          type: string
        jobTitle:
          description: The title or position this contact holds.
          type: string
        amaScore:
          format: int32
          description: The contact's
          type: integer
        emailAddress:
          description: A unique electronic address that an individual can be contacted.
          type: string
        altEmailAddress:
          description: A unique electronic address that an individual can be contacted.
          type: string
        personalEmailAddress:
          description: A unique electronic address that an individual can be contacted.
          type: string
        website:
          description: The contact's web site.
          type: string
        birthday:
          format: date-time
          description: The anniversary of the day on which a person was born.
          type: string
        businessAddress:
          $ref: '#/components/schemas/act.web.api.models.Address'
          description: The contact's business address.
        businessPhone:
          description: The contact's business phone number.
          type: string
        businessExtension:
          description: The contact's business phone number extension.
          type: string
        businessCountryCode:
          format: int32
          description: The contact's business phone country code.
          type: integer
        businessMaskFormat:
          description: The contact's business phone mask format.
          type: string
        mobilePhone:
          description: The contact's mobile phone number.
          type: string
        mobileExtension:
          description: The contact's mobile phone extension.
          type: string
        mobileCountryCode:
          format: int32
          description: The contact's mobile phone country code.
          type: integer
        mobileMaskFormat:
          description: The contact's mobile phone mask format.
          type: string
        faxPhone:
          description: The contact's fax phone number.
          type: string
        faxExtension:
          description: The contact's fax phone number extension.
          type: string
        faxCountryCode:
          format: int32
          description: The contact's fax phone country code.
          type: integer
        faxMaskFormat:
          description: The contact's fax phone mask format.
          type: string
        homeAddress:
          $ref: '#/components/schemas/act.web.api.models.Address'
          description: The contact's home address.
        homePhone:
          description: The contact's home phone number.
          type: string
        homeExtension:
          description: The contact's home phone extension.
          type: string
        homeCountryCode:
          format: int32
          description: The contact's home phone country code.
          type: integer
        homeMaskFormat:
          description: The contact's home phone mask format.
          type: string
        alternatePhone:
          description: The contact's alternate phone number.
          type: string
        alternateExtension:
          description: The contact's alternate phone number extension.
          type: string
        alternateCountryCode:
          format: int32
          description: The contact's alternate phone country code.
          type: integer
        alternateMaskFormat:
          description: The contact's alternate phone mask.
          type: string
        pagerPhone:
          description: The contact's pager phone number.
          type: string
        pagerExtension:
          description: The contact's pager phone number extension
          type: string
        pagerCountryCode:
          format: int32
          description: The contact's pager phone country code.
          type: integer
        pagerMaskFormat:
          description: The contact's pager phone mask.
          type: string
        aemOptOut:
          description: ''
          type: boolean
        aemBounceBack:
          description: ''
          type: boolean
        recordManagerID:
          description: The record manager.
          type: string
        quickbooksId:
          description: Quickbooks external Id to match record with quickbooks contact
          type: string
        nylasContactId:
          description: Nylas contact Id to match record with a contact
          type: string
        customFields:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/System.Object'
        created:
          format: date-time
          type: string
        edited:
          format: date-time
          type: string
        editedBy:
          type: string
        recordManager:
          type: string
    act.web.api.models.Contacts.ContactListRequest:
      description: Assign contacts request model.
      type: object
      properties:
        contacts:
          description: List of contact identifiers.
          type: array
          items:
            type: string
    act.web.api.models.Users.Accessor:
      description: The user/team that is granted access.
      type: object
      properties:
        id:
          description: Unique identifier for the accessor/user id
          type: string
        type:
          description: The type of accessor (User = 1 or Team = 2)
          enum:
          - Unknown
          - User
          - Team
          - Resource
          type: string
        name:
          description: The name of the accessor
          type: string
    act.web.api.models.Users.HyperLinks:
      description: Anchor tags associated with an entity.
      type: object
      properties:
        id:
          description: ''
          type: string
        name:
          description: Name of the anchor link tag
          type: string
        href:
          description: Specifies the URL of the page the link will redirect to.
          type: string
    act.web.api.models.Users.WebInfo:
      description: ''
      type: object
      properties:
        id:
          description: ''
          type: string
        name:
          description: ''
          type: string
        hyperLinks:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/act.web.api.models.Users.HyperLinks'
