openapi: 3.2.0
info:
  version: v1
  title: act.web.api Document Types API
servers:
- url: https://apimta.act.com/act.web.api
tags:
- name: Document Types
paths:
  /api/documents/history-types:
    get:
      tags:
      - Document Types
      summary: Gets all document history types
      operationId: DocumentTypes_GetHistoryTypesByDocumentTypes_9824C3CA
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/documents/historytypes:
    get:
      tags:
      - Document Types
      summary: Deprecated (Please use '/api/documents/history-types' instead)
      operationId: DocumentTypes_GetLibraryDocumentHistoryTypes_51035BB4
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: true
  /api/documents/history-types/{name}:
    get:
      tags:
      - Document Types
      summary: Get a specific history document type by name
      operationId: DocumentTypes_GetHistoryTypesByDocumentType_82E4F41A
      parameters:
      - name: name
        in: path
        description: The name of the history document type.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            application/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
            text/xml:
              schema:
                $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.HistoryType'
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: false
  /api/documents/historytypes/{name}:
    get:
      tags:
      - Document Types
      summary: Deprecated (Please use '/api/documents/history-types/{name}' instead)
      operationId: DocumentTypes_GetLibraryDocumentHistoryTypeByName_59C45724
      parameters:
      - name: name
        in: path
        description: The name of the history document type.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK indicates that the request succeeded and that the requested information is in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/act.web.api.models.MetaData.TypeCodes.ActivityType'
        '400':
          description: BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code.
        '401':
          description: Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication.
        '500':
          description: Unexpected error.
      deprecated: true
components:
  schemas:
    act.web.api.models.MetaData.TypeCodes.HistoryType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        activityTypeId:
          description: ''
          type: string
        activityTypeName:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        isDefault:
          description: ''
          type: boolean
        isUserRecordable:
          description: ''
          type: boolean
    act.web.api.models.MetaData.TypeCodes.ActivityType:
      description: ''
      type: object
      properties:
        id:
          format: int32
          description: ''
          type: integer
        name:
          description: ''
          type: string
        description:
          description: ''
          type: string
        isActive:
          description: ''
          type: boolean
        isCustom:
          description: ''
          type: boolean
        activityTypeGuid:
          description: ''
          type: string
