{"swagger":"2.0","info":{"version":"v1","title":"act.web.api"},"host":"apimta.act.com","basePath":"/act.web.api","schemes":["https"],"paths":{"/api/ActivitySeries/{id}":{"get":{"tags":["ActivitySeries"],"summary":"Get a specific series activity.","operationId":"ActivitySeries_GetDeprecated_1026BB09","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The unique identifier (id) for a given series activity.","required":true,"type":"string"},{"name":"format","in":"query","description":"Specifics different formats that the API can convert the details ((RichText (Default), PlainText, and HyperText).","required":false,"type":"string","enum":["auto","rtf","text","html"]}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":true},"put":{"tags":["ActivitySeries"],"summary":"Update an already existing series activity","operationId":"ActivitySeries_PutDeprecated_CDA0E3CC","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The unique identifier (id) for a given series activity.","required":true,"type":"string"},{"name":"series","in":"body","description":"The series activity definition","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},{"name":"format","in":"query","description":"Specifics different formats that the API can convert the details ((RichText (Default), PlainText, and HyperText).","required":false,"type":"string","enum":["auto","rtf","text","html"]}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":true},"delete":{"tags":["ActivitySeries"],"summary":"Delete an existing series activity.","description":"This will not remove activities that were part of the series and were rescheduled.","operationId":"ActivitySeries_DeleteDeprecated_FBE2FFCB","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The unique identifier (id) for a given series activity.","required":true,"type":"string"}],"responses":{"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":true},"patch":{"tags":["ActivitySeries"],"summary":"Partially update an already existing series activity","operationId":"ActivitySeries_PatchDeprecated_70F1EE46","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The unique identifier (id) for a given series activity.","required":true,"type":"string"},{"name":"series","in":"body","description":"The series activity definition","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},{"name":"format","in":"query","description":"Specifics different formats that the API can convert the details ((RichText (Default), PlainText, and HyperText).","required":false,"type":"string","enum":["auto","rtf","text","html"]}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":true}},"/api/ActivitySeries":{"get":{"tags":["ActivitySeries"],"summary":"Get all series activities matching an (optional) OData query.","operationId":"ActivitySeries_GetDeprecated_FE2F02D8","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"format","in":"query","description":"Specifics different formats that the API can convert the details ((RichText (Default), PlainText, and HyperText).","required":false,"type":"string","enum":["auto","rtf","text","html"]},{"name":"filterBy","in":"query","required":false,"type":"string","enum":["InRange","InSeries"]}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}}},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":true},"post":{"tags":["ActivitySeries"],"summary":"Create a new series activity.","operationId":"ActivitySeries_PostDeprecated_3028AEF2","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"series","in":"body","description":"The series activity definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},{"name":"format","in":"query","description":"Specifics different formats that the API can convert the details ((RichText (Default), PlainText, and HyperText).","required":false,"type":"string","enum":["auto","rtf","text","html"]}],"responses":{"201":{"description":"Created indicates that the request resulted in a new resource created before the response was sent.","schema":{"$ref":"#/definitions/act.web.api.models.Activities.ActivitySeries"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":true}},"/api/activities/analytics/task-list":{"get":{"tags":["Analytics"],"summary":"Generates the task list activities for analytics task list widget","operationId":"Analytics_GetLimitedTaskListActivities_65ECB9F3","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"max","in":"query","required":false,"type":"integer","format":"int32"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"priorityIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.TaskListActivity"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/activities/analytics/activity-by-user":{"get":{"tags":["Analytics"],"summary":"Generates activity sales by user data for given users.","operationId":"Analytics_GetActivityByUser_EE78D56B","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.UserActivityCount"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/activities/analytics/activity-by-user-details":{"get":{"tags":["Analytics"],"summary":"Generates activity sales by user detail data for a given user.","operationId":"Analytics_GetActivityByUserDetails_703CA4FB","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"typeIds","in":"query","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.UserActivityDetail"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/emarketing/analytics/campaign-leads":{"get":{"tags":["Analytics"],"summary":"Gets contacts leads.","operationId":"Analytics_GetCampaignLeads_417AF467","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.MarketingLead"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/emarketing/analytics/campaign-lead-info":{"get":{"tags":["Analytics"],"summary":"Gets opportunities within a campaign within a specified date range (optional filters on statuses and user ids).","operationId":"Analytics_GetCampaignLeadInfo_E08EC92C","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"campaignIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.CampaignLeadInfo"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/emarketing/analytics/campaign-sent":{"get":{"tags":["Analytics"],"summary":"Gets campaign sent within a specified date range.","operationId":"Analytics_GetCampaignSent_4B94D20E","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.CampaignInfo"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/emarketing/analytics/campaign-results":{"get":{"tags":["Analytics"],"summary":"Gets campaign result information.","operationId":"Analytics_GetCampaignResults_0F89CFC0","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"campaignIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.CampaignResult"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/{entityname}/analytics/query":{"get":{"tags":["Analytics"],"summary":"Gets a custom analytic query to view specific data.","operationId":"Analytics_GetCustomData_B83CB8C8","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"entityname","in":"path","required":true,"type":"string"},{"name":"field","in":"query","required":true,"type":"string"},{"name":"operation","in":"query","required":true,"type":"string"},{"name":"start","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valueType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityValue","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityOperation","in":"query","required":false,"type":"string"},{"name":"amountValue","in":"query","required":false,"type":"number","format":"double"},{"name":"amountOperation","in":"query","required":false,"type":"string"},{"name":"omitPrivate","in":"query","required":false,"type":"boolean"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pickListItemIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Analytics.CustomData"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/{entityname}/analytics/query-details":{"get":{"tags":["Analytics"],"summary":"Gets a custom analytic query to view specific data.","operationId":"Analytics_GetCustomDataDetails_AE15B56B","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"entityname","in":"path","required":true,"type":"string"},{"name":"field","in":"query","required":true,"type":"string"},{"name":"fieldValue","in":"query","required":true,"type":"string"},{"name":"start","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valueType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityValue","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityOperation","in":"query","required":false,"type":"string"},{"name":"amountValue","in":"query","required":false,"type":"number","format":"double"},{"name":"amountOperation","in":"query","required":false,"type":"string"},{"name":"omitPrivate","in":"query","required":false,"type":"boolean"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pickListItemIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Analytics.CustomData"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/emarketing/analytics/history":{"get":{"tags":["Analytics"],"summary":"Gets historical e-marketing information for a given date range.","operationId":"Analytics_GetEmarketingHistory_1FECBF61","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Analytics.EmarketingHistory"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/analytics/kpi":{"get":{"tags":["Analytics"],"summary":"Gets analytic KPI query to view specific data.","operationId":"Analytics_GetKpiData_4DFFF7FB","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"groupName","in":"query","required":true,"type":"string"},{"name":"start","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valueType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityValue","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityOperation","in":"query","required":false,"type":"string"},{"name":"amountValue","in":"query","required":false,"type":"number","format":"double"},{"name":"amountOperation","in":"query","required":false,"type":"string"},{"name":"omitPrivate","in":"query","required":false,"type":"boolean"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pickListItemIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Analytics.KpiData"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/actual-predicted":{"get":{"tags":["Analytics"],"summary":"Generates actual vs predicted opportunity revenue.","operationId":"Analytics_GetOpportunityActualVersusPredictedRevenue_3DBFEBCE","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"args.interval","in":"query","description":"An intervening period of time.","required":false,"type":"string","enum":["Daily","Weekly","Monthly","Quarterly","Yearly"]},{"name":"args.start","in":"query","description":"The start date that the period requesting.","required":false,"type":"string","format":"date-time"},{"name":"args.end","in":"query","description":"The end date that the period requesting.","required":false,"type":"string","format":"date-time"},{"name":"args.fiscalYearStart","in":"query","description":"The oppourtunity products that will be evaludated to generate the revenue data.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.PeriodicActualAndPredictedRevenue"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/forecast-by-product":{"get":{"tags":["Analytics"],"summary":"Generates forecasted opportunity data by given products.","operationId":"Analytics_GetOpportunityForecastByProduct_6A5F800E","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"productIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.ForecastByProduct"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/forecast-by-product-details":{"get":{"tags":["Analytics"],"summary":"Generates forecasted opportunity data by a given product.","operationId":"Analytics_GetOpportunityForecastByProductDetails_E8BE0DD8","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"productId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.ForecastByProductDetail"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/forecast-by-rep":{"get":{"tags":["Analytics"],"summary":"Generates forecasted opportunity data by given users.","operationId":"Analytics_GetOpportunityForecastByRep_F4797D7A","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.ForecastByRep"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/forecast-by-rep-details":{"get":{"tags":["Analytics"],"summary":"Generates forecasted opportunity data by a given user.","operationId":"Analytics_GetOpportunityForecastByRepDetails_987464AE","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"userId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.ForecastByRepDetail"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunities/analytics/pipeline":{"get":{"tags":["Analytics"],"summary":"Gets all opportunity matching the custom filter that are currently being worked.","operationId":"Analytics_GetOpportunityInPipeline_28599DA0","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valueType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityValue","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityOperation","in":"query","required":false,"type":"string"},{"name":"amountValue","in":"query","required":false,"type":"number","format":"double"},{"name":"amountOperation","in":"query","required":false,"type":"string"},{"name":"omitPrivate","in":"query","required":false,"type":"boolean"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pickListItemIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.PipelineOpportunity"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunities/analytics/pipelines":{"post":{"tags":["Analytics"],"summary":"Gets all opportunity matching the custom filter that are currently being worked.","operationId":"Analytics_GetOpportunityInPipeline_139FD0C7","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"pipeline","in":"body","required":true,"schema":{"$ref":"#/definitions/act.web.api.Controllers.AnalyticsPipeline"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.PipelineOpportunity"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunities/analytics/top-open":{"get":{"tags":["Analytics"],"summary":"Gets all opportunity matching the custom filter that are currently being worked.","operationId":"Analytics_GetTopOpenOpportunities_19FBF97E","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valueType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityValue","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityOperation","in":"query","required":false,"type":"string"},{"name":"amountValue","in":"query","required":false,"type":"number","format":"double"},{"name":"amountOperation","in":"query","required":false,"type":"string"},{"name":"omitPrivate","in":"query","required":false,"type":"boolean"},{"name":"max","in":"query","required":false,"type":"integer","format":"int32"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pickListItemIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.PipelineOpportunity"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/stage-time":{"get":{"tags":["Analytics"],"summary":"Generates opportunity data for the average time in a stage.","operationId":"Analytics_GetOpportunityAverageTimeInStage_DCAE7DC3","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.TimeInStage"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/close-reason":{"get":{"tags":["Analytics"],"summary":"Generates opportunity data to summerizes how many times a reason has been closed.","operationId":"Analytics_GetOpportunityCloseReasonCount_ABE6C32D","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"status","in":"query","required":true,"type":"string","enum":["Open","Won","Lost","Inactive"]}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.CloseReasonCount"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/close-reason-details":{"get":{"tags":["Analytics"],"summary":"Generates opportunity data that details the reason for being closed.","operationId":"Analytics_GetOpportunityCloseReasonDetails_6BBA1207","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"status","in":"query","required":true,"type":"string","enum":["Open","Won","Lost","Inactive"]},{"name":"closeReason","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.CloseReasonDetails"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/stages/analytics/opportunity-count":{"get":{"tags":["Analytics"],"summary":"Generates a summary of the total number of opportunities within a stage.","operationId":"Analytics_GetOpportunityCountByStages_CD8840AE","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"valueType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityValue","in":"query","required":false,"type":"integer","format":"int32"},{"name":"probabilityOperation","in":"query","required":false,"type":"string"},{"name":"amountValue","in":"query","required":false,"type":"number","format":"double"},{"name":"amountOperation","in":"query","required":false,"type":"string"},{"name":"omitPrivate","in":"query","required":false,"type":"boolean"},{"name":"typeIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"stageIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pickListItemIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"statuses","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.OpportunityStageCount"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/cost":{"get":{"tags":["Analytics"],"summary":"Generates opportunity periodic revenue versus cost data for given products.","operationId":"Analytics_GetOpportunityRevenueVersusCost_D5AA80A8","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"productIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"args.interval","in":"query","description":"An intervening period of time.","required":false,"type":"string","enum":["Daily","Weekly","Monthly","Quarterly","Yearly"]},{"name":"args.start","in":"query","description":"The start date that the period requesting.","required":false,"type":"string","format":"date-time"},{"name":"args.end","in":"query","description":"The end date that the period requesting.","required":false,"type":"string","format":"date-time"},{"name":"args.fiscalYearStart","in":"query","description":"The oppourtunity products that will be evaludated to generate the revenue data.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.PeriodicRevenueAndCost"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/sales-by-product":{"get":{"tags":["Analytics"],"summary":"Generates opportunity sales by product data for given products.","operationId":"Analytics_GetOpportunitySalesByProduct_E254EF71","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"productIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.SalesByProduct"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/sales-by-product-details":{"get":{"tags":["Analytics"],"summary":"Generates opportunity sales by product detail data for a given product.","operationId":"Analytics_GetOpportunitySalesByProductDetails_89CE77DD","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"productId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.SalesByProductDetail"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/sales-by-rep":{"get":{"tags":["Analytics"],"summary":"Generates opportunity sales by user data for given users.","operationId":"Analytics_GetOpportunitySalesByRep_75FC5215","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"userIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.SalesByRep"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/sales-by-rep-details":{"get":{"tags":["Analytics"],"summary":"Generates opportunity sales by user data for a given user.","operationId":"Analytics_GetOpportunitySalesByRepDetails_4BE7FF32","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"},{"name":"userId","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.SalesByRepDetail"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunity/analytics/revenue/won-lost":{"get":{"tags":["Analytics"],"summary":"Generates opportunty win versus loss data.","operationId":"Analytics_GetOpportunityWonVersusLost_797C4A7F","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"start","in":"query","required":true,"type":"string","format":"date-time"},{"name":"end","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Analytics.WonLostMetrics"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/calendar":{"get":{"tags":["Calendar"],"summary":"Get calendar schedule for the current user matching an (optional) OData query.","operationId":"Calendar_Get_4342D274","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Calendar.Schedule"}},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/calendar/preferences":{"get":{"tags":["Calendar"],"summary":"Get user's calendar preferences.","operationId":"Calendar_GetPreferences_AD38D5BE","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Calendar.CalendarPreferences"}},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Calendar"],"summary":"Update the user's calendar preferences.","operationId":"Calendar_PutPreference_DE71004C","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"settings","in":"body","description":"The calendar preferences definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Calendar.CalendarPreferences"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Calendar.CalendarPreferences"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"post":{"tags":["Calendar"],"summary":"Create the user's calendar preferences.","operationId":"Calendar_PostPreference_4E44150A","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"settings","in":"body","description":"The calendar preferences definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Calendar.CalendarPreferences"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Calendar.CalendarPreferences"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/contacts/{contactId}/associated-companies":{"get":{"tags":["Companies"],"summary":"List of companies from a specific contact and matching an (optional) OData query.","operationId":"Companies_GetAssociatedCompaniesByContact_87388C7A","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"contactId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Companies"],"summary":"Associate a list of companies to a specific contact.","operationId":"Companies_PutAssociatedCompaniesToContact_B13F22EF","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"contactId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"},{"name":"companyList","in":"body","description":"A list of company identifiers.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.CompanyListRequest"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Contacts.Contact"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Companies"],"summary":"Dissociate a list of companies from a specific contact.","operationId":"Companies_DeleteAssociatedCompaniesFromContact_E46F5427","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"contactId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"},{"name":"companyList","in":"body","description":"A list of companies identifiers.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.CompanyListRequest"}}],"responses":{"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/contacts/{contactId}/associated-companies/{companyId}":{"put":{"tags":["Companies"],"summary":"Associate a company to a specific contact.","operationId":"Companies_PutAssociatedCompaniesToContact_49B35DB0","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"contactId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"},{"name":"companyId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Contacts.Contact"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Companies"],"summary":"Dissociate a company from a specific contact.","operationId":"Companies_DeleteAssociatedCompaniesFromContact_F2BAEC23","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"contactId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"},{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"}],"responses":{"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunities/{opportunityId}/associated-companies":{"get":{"tags":["Companies"],"summary":"List of companies from a specific opportunity and matching an (optional) OData query.","operationId":"Companies_GetAssociatedCompaniesFromOpportunity_2E5B3F85","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"opportunityId","in":"path","description":"The unique identifier (id) for a given opportunity.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Companies"],"summary":"Associate a list of companies to a specific opportunity.","operationId":"Companies_PutAssociatedCompaniesToOpportunity_D1EDA1D2","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"opportunityId","in":"path","description":"The unique identifier (id) for a given opportunity.","required":true,"type":"string"},{"name":"companyList","in":"body","description":"A list of company identifiers.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.CompanyListRequest"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Contacts.Contact"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Companies"],"summary":"Dissociate a list of companies from a specific opportunity.","operationId":"Companies_DeleteAssociatedCompaniesFromOpportunity_C7536000","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"opportunityId","in":"path","description":"The unique identifier (id) for a given opportunity.","required":true,"type":"string"},{"name":"companyList","in":"body","description":"List of companies identifiers.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.CompanyListRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Contacts.Contact"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/opportunities/{opportunityId}/associated-companies/{companyId}":{"put":{"tags":["Companies"],"summary":"Associate a company to a specific opportunity.","operationId":"Companies_PutAssociatedCompaniesToOpportunity_D9F284C2","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"opportunityId","in":"path","description":"The unique identifier (id) for a given opportunity.","required":true,"type":"string"},{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Contacts.Contact"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Companies"],"summary":"Dissociate a company from a specific opportunity.","operationId":"Companies_DeleteAssociatedCompaniesFromOpportunity_5A36C037","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"opportunityId","in":"path","description":"The unique identifier (id) for a given opportunity.","required":true,"type":"string"},{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Contacts.Contact"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/companies/{companyId}":{"get":{"tags":["Companies"],"summary":"Get a specific company.","operationId":"Companies_GetCompany_AC884DF5","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Companies"],"summary":"Update an already existing company.","operationId":"Companies_PutCompany_A1350C65","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"},{"name":"company","in":"body","description":"The company definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Companies"],"summary":"Delete an existing company.","operationId":"Companies_DeleteCompany_B5D7C6B0","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"}],"responses":{"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"patch":{"tags":["Companies"],"summary":"Update (partially) an already existing company.","operationId":"Companies_PatchCompany_316D8304","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"},{"name":"company","in":"body","description":"The company definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/companies":{"get":{"tags":["Companies"],"summary":"Get all companies matching an (optional) OData query.","operationId":"Companies_GetCompanies_BF3259E6","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false},"post":{"tags":["Companies"],"summary":"Create a new company.","operationId":"Companies_PostCompany_6941ACD1","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"company","in":"body","description":"The company definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}],"responses":{"201":{"description":"Created indicates that the request resulted in a new resource created before the response was sent.","schema":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/activities/{activityId}/associated-companies":{"get":{"tags":["Companies"],"summary":"List of companies from a specific activity and matching an (optional) OData query.","operationId":"Companies_GetAssociatedCompaniesFromActivity_67CDAE40","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"activityId","in":"path","description":"The unique identifier (id) for a given contact.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/{entityName}/{id}/associated-companies":{"get":{"tags":["Companies"],"summary":"List of companies from a specific custom entity and matching an (optional) OData query.","operationId":"Companies_GetAssociatedCompaniesFromCustomEntity_86BB9475","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"entityName","in":"path","description":"The name of the custom entity.","required":true,"type":"string"},{"name":"id","in":"path","description":"The unique identifier (id) for a given entity row","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Companies.Company"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/companies/{companyId}/access":{"get":{"tags":["Companies"],"summary":"Get a company access levels.","operationId":"Companies_GetCompanyAccessLevel_BBD21BBE","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier for the company.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Contacts.AccessLevel"}},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Companies"],"summary":"Update an already existing company access levels accessors.","operationId":"Companies_PutCompanyAccessors_F48F95CA","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier (id) for a given company.","required":true,"type":"string"},{"name":"accessLevel","in":"body","description":"The unique identifier (id) for a given accessor.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Contacts.AccessLevel"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Contacts.AccessLevel"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/companies/{companyId}/divisions":{"get":{"tags":["Companies"],"summary":"","operationId":"Companies_GetCompanyDivisions_E369E41D","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"companyId","in":"path","description":"The unique identifier (id) for the company.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Companies.SubCompany"}}},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/companies/webinfo":{"get":{"tags":["Companies"],"summary":"Get company web information hyperlinks matching an (optional) OData query.","operationId":"Companies_GetCompanyWebInfo_45513234","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"type":"array","items":{"$ref":"#/definitions/act.web.api.models.Users.WebInfo"}}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/companies/webinfo/{id}/HyperLink/{linkId}":{"put":{"tags":["Companies"],"summary":"","operationId":"Companies_PutCompanyWebInfo_3631ACF6","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The unique identifier (id) for a given WebInfo Group.","required":true,"type":"string"},{"name":"linkId","in":"path","description":"The unique identifier (id) for a WebInfo Group HyperLink.","required":true,"type":"string"},{"name":"hyperLink","in":"body","description":"The HyperLink.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Users.HyperLinks"}}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Contacts.AccessLevel"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/analytics/definitions/insight-views":{"get":{"tags":["Configurations"],"summary":"Get current user's insight analytic view definition data","operationId":"Configurations_GetAnalyticConfigurationInsightViewDefinitions_393BFEDD","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationDefinition"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Configurations"],"summary":"Create/Update current user's insight analytic view definition data.","operationId":"Configurations_PutAnalyticConfigurationInsightViewDefinitions_D6450485","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"definition","in":"body","description":"The user's profile.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationDefinition"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Configurations"],"summary":"Delete current user's insight's analytic view definition data.","operationId":"Configurations_DeleteAnalyticConfigurationInsightViewDefinitions_49FEF34F","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/analytics/definitions/myact-views":{"get":{"tags":["Configurations"],"summary":"Get current user's insight analytic view definition data","operationId":"Configurations_GetAnalyticConfigurationMyActViewDefinitions_64469CB9","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationDefinition"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Configurations"],"summary":"Create/Update current user's 'MyAct' analytic view definition data.","operationId":"Configurations_PutAnalyticConfigurationMyActViewDefinitions_63CD19DC","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"definition","in":"body","description":"The user's profile.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationDefinition"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false},"delete":{"tags":["Configurations"],"summary":"Delete current user's insight's analytic view definition data.","operationId":"Configurations_DeleteAnalyticConfigurationMyActViewDefinitions_09B0834E","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/analytics/definitions/kpi-views/{name}":{"get":{"tags":["Configurations"],"summary":"Get current user's KPI analytic view definition data","operationId":"Configurations_GetAnalyticConfigurationKpiViewDefinitions_8C0032C7","consumes":[],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"path","description":"The kpi view container name.","required":true,"type":"string"}],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationDefinition"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Configurations"],"summary":"Create/Update current user's KPI analytic view definition data.","operationId":"Configurations_PutAnalyticConfigurationKpiViewDefinitions_7F2F92D8","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"name","in":"path","description":"The kpi container name","required":true,"type":"string"},{"name":"container","in":"body","description":"The group definition.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationDefinition"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"204":{"description":"NoContent indicates that the request has been successfully processed and that the response is intentionally blank.","schema":{"$ref":"#/definitions/System.Object"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"500":{"description":"Unexpected error."}},"deprecated":false}},"/api/analytics/settings/opportunity-pipeline":{"get":{"tags":["Configurations"],"summary":"Get current user's opportunity pipeline analytic view settings data.","operationId":"Configurations_GetAnalyticConfigurationOpportunityPipelineViewSettings_6AEEAAA0","consumes":[],"produces":["application/json","application/xml","text/xml"],"responses":{"200":{"description":"OK indicates that the request succeeded and that the requested information is in the response.","schema":{"$ref":"#/definitions/act.web.api.models.Users.OpportunityPipelineViewSettings"}},"400":{"description":"BadRequest indicates that the request could not be understood by the server. BadRequest is sent when no other error is applicable, or if the exact error is unknown or does not have its own error code."},"401":{"description":"Unauthorized indicates that the requested resource requires authentication. The WWW-Authenticate header contains the details of how to perform the authentication."},"404":{"description":"NotFound indicates that the requested resource does not exist on the server."},"500":{"description":"Unexpected error."}},"deprecated":false},"put":{"tags":["Configurations"],"summary":"Create/Update current user's opportunity pipeline analytic view settings data.","operationId":"Configurations_PutAnalyticConfigurationOpportunityPipelineViewSettings_6B0FE79A","consumes":["application/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","application/xml","text/xml"],"parameters":[{"name":"settings","in":"body","description":"The user's pipeline settings.","required":true,"schema":{"$ref":"#/definitions/act.web.api.models.Configuration.ConfigurationSettings"}}],"responses":{"200":{"descript
[...]
